@page "/ShowData"
@using HomeProject.Shared.Entities
@inject HttpClient Http
<h3>ShowData</h3>
@if (workersList != null)
{
    foreach (Worker w in workersList)
    {
        <p>@(w.ID + " " + w.FullName + " " + w.Salary + " " + w.Department) </p>}
}
@if (curWorker != null)
{
    <input type="text" @bind="myId" />
    <p>Name:<span>@curWorker.FullName</span></p>
    <p>Department:<span>@curWorker.Department</span></p>
    <p>Salary:<span>@curWorker.Salary</span></p>
    <input type="button" value="Show Worker By ID" @onclick="showselectedworker" />
    <p>@msg</p>
    <p>@msg4</p>
    <input type="text" @bind="mysalary" />
    <br />
    <input type="button" value="Show Salary" @onclick="showsalary" />
}
@if (salarylist != null)
    @foreach (Worker w in salarylist)
    {
        <p>Full Name:<span>@w.FullName</span></p>
        <p>Deaparment:<span>@w.Department</span></p>
        <p>Salary:<span>@w.Salary</span></p>
    }

@code { List<Worker> workersList = new List<Worker>();
    List<Worker> salarylist = new List<Worker>();
    string myId = "";
    string msg = "";
    string msg4 = "";
    string mysalary = "";
    protected override async Task OnInitializedAsync()
    {
        var getResponse = await Http.GetAsync("api/Workers");
        workersList =
       getResponse.Content.ReadFromJsonAsync<List<Worker>>().Result;
    }
    Worker curWorker = new Worker();
    async Task showselectedworker()
    {
        if (myId == "")
        {
            msg = "הכנס מספר בתיבת הטקסט";
        }
        var getResponse3 = await Http.GetAsync("api/Workers/" + myId);
        if (getResponse3.IsSuccessStatusCode == true)
        {
            curWorker =
           getResponse3.Content.ReadFromJsonAsync<Worker>().Result;
        }
        else
        {
            msg4 = "לא קיימת רשומה";
        }
    }
    async Task showsalary()
    {
        var getResponse4 = await Http.GetAsync("api/Workers/workersalary/" + mysalary);
        salarylist = getResponse4.Content.ReadFromJsonAsync<List<Worker>>().Result;
    } }